{% extends 'base.html' %}
{% block title %}Staff Login{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse w-full lg:w-3/4 p-6">
        <div class="text-center lg:text-left lg:w-1/2 mb-2 lg:mb-0">
            <h1 class="text-5xl font-bold">Staff Login</h1>
        </div>
        <div class="card flex-shrink-0 w-full lg:w-1/2 shadow-2xl bg-base-100">
            <div class="card-body">
                <form action="{% url 'staff_login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input type="email" name="email" placeholder="Email" class="input input-bordered w-full" />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" name="password" placeholder="Password" class="input input-bordered w-full" />
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary w-full">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
